<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MedicalApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52F6888D1DEC10CF00383382</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52F688A91DEC10CF00383382</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52F688B41DEC10CF00383382</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
